.container > h1 {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 125px;
    font-family: 'segoe UI';
    display: flex;
    justify-content: center;
}

.container > hr {
    margin-top: 5px;
    margin-bottom: 5px;
}