.container {
    /*border: solid white 5px;/* DEBUG */
    width: 700px;
    margin-bottom: 15px;

    display: flex;
    flex-direction: row;
}

.photo > img {
    width: 200px;
    min-width: 200px;
    margin-right: 20px;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
}

hr {
    margin-top: 10px;
    margin-bottom: 10px;
}