<app-menu-title/>

<div class="container-articles">
    <div class="articles-main">
        <app-big-card
            photoCover="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fdevelopers.elementor.com%2Fdocs%2Fassets%2Fimg%2Felementor-placeholder-image.png&f=1&nofb=1&ipt=02dc0aa12979af9e6b4a26ebc11f84b1d2daddf0c8b64c276be11ba6334eb7fb&ipo=images"
            cardTitle="Sobre Mim"
            cardDescription="Meu nome é Saulo Ribeiro de Andrade. Sou baiano de Salvador, programador, amante de videogames e adepto do hobby do speedrun, onde tento zerar jogos o mais rápido possível, explorando os recursos do jogo (sejam intencionais do desenvolvedor ou não)"/>
    </div>
    <div class="articles-others">
        <app-small-card *ngFor="let run of speedruns"
            [photoCover]="run.photoCover"
            [gamePlatform]="run.gamePlatform"
            [gameName]="run.gameName"
            [runCategory]="run.runCategory"
            [runDate]="run.runDate"
            [runTime]="run.runTime"
            [runTimeMethod]="run.runTimeMethod"
            [runLink]="run.runLink"/>
    </div>
</div>