<app-menu-title/>

<div class="container-articles">
    <div class="articles-main">
        <app-big-card
            id="1"
            photoCover="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fdevelopers.elementor.com%2Fdocs%2Fassets%2Fimg%2Felementor-placeholder-image.png&f=1&nofb=1&ipt=02dc0aa12979af9e6b4a26ebc11f84b1d2daddf0c8b64c276be11ba6334eb7fb&ipo=images"
            cardTitle="Nova versão do Angular é anunciada"
            cardDescription="Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illo quam ratione aut, temporibus architecto voluptate recusandae ullam voluptatibus dolorum quaerat similique tempore necessitatibus vero beatae quis et, iste exercitationem. Sequi."/>
    </div>
    <div class="articles-others">
        <app-small-card
            id="1"
            photoCover="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fdevelopers.elementor.com%2Fdocs%2Fassets%2Fimg%2Felementor-placeholder-image.png&f=1&nofb=1&ipt=02dc0aa12979af9e6b4a26ebc11f84b1d2daddf0c8b64c276be11ba6334eb7fb&ipo=images"
            cardTitle="Coisa Boa chegou"/>
        <app-small-card
            id="2"
            photoCover="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fdevelopers.elementor.com%2Fdocs%2Fassets%2Fimg%2Felementor-placeholder-image.png&f=1&nofb=1&ipt=02dc0aa12979af9e6b4a26ebc11f84b1d2daddf0c8b64c276be11ba6334eb7fb&ipo=images"
            cardTitle="Anunciado versão remasterizada de Alf"/>
        <app-small-card
            id="3"
            photoCover="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fdevelopers.elementor.com%2Fdocs%2Fassets%2Fimg%2Felementor-placeholder-image.png&f=1&nofb=1&ipt=02dc0aa12979af9e6b4a26ebc11f84b1d2daddf0c8b64c276be11ba6334eb7fb&ipo=images"
            cardTitle="Novo jogo estrelando Tails é anunciado na E3"/>
        <app-small-card
            id="4"
            photoCover="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fdevelopers.elementor.com%2Fdocs%2Fassets%2Fimg%2Felementor-placeholder-image.png&f=1&nofb=1&ipt=02dc0aa12979af9e6b4a26ebc11f84b1d2daddf0c8b64c276be11ba6334eb7fb&ipo=images"
            cardTitle="Divulgada agenda da BRAT Halloween 2023"/>
    </div>
</div>